<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaruiblog.infrastructure.repository.mysql.UserMapper">

    <resultMap id="UserResultMap" type="com.jiaruiblog.domain.entity.po.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="mail" column="mail"/>
        <result property="male" column="male" typeHandler="com.jiaruiblog.infrastructure.config.mybatis.BooleanTypeHandler"/>
        <result property="description" column="description"/>
        <result property="avatar" column="avatar"/>
        <result property="birthtime" column="birthtime"/>
        <result property="banning" column="banning" typeHandler="com.jiaruiblog.infrastructure.config.mybatis.BooleanTypeHandler"/>
        <result property="permissionEnum" column="permission_enum" typeHandler="com.jiaruiblog.infrastructure.config.mybatis.PermissionEnumTypeHandler"/>
        <result property="nickname" column="nickname"/>
        <result property="lastLogin" column="last_login"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <select id="findById" resultMap="UserResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.jiaruiblog.domain.entity.po.User">
        INSERT INTO user (id, username, password, phone, mail, male, description, avatar,
            birthtime, banning, permission_enum, nickname, last_login, create_date, update_date)
        VALUES (#{id}, #{username}, #{password}, #{phone}, #{mail}, #{male}, #{description},
            #{avatar}, #{birthtime}, #{banning}, #{permissionEnum, jdbcType=INTEGER}, #{nickname},
            #{lastLogin}, #{createDate}, #{updateDate})
    </insert>

    <update id="update" parameterType="com.jiaruiblog.domain.entity.po.User">
        UPDATE user
        SET username = #{username},
            password = #{password},
            phone = #{phone},
            mail = #{mail},
            male = #{male},
            description = #{description},
            avatar = #{avatar},
            birthtime = #{birthtime},
            banning = #{banning},
            permission_enum = #{permissionEnum, jdbcType=INTEGER},
            nickname = #{nickname},
            update_date = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateLoginTime">
        UPDATE user SET last_login = #{lastLogin} WHERE id = #{id}
    </update>

    <update id="blockUser">
        UPDATE user SET banning = #{banning} WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <insert id="save" parameterType="com.jiaruiblog.domain.entity.po.User">
        INSERT INTO user (id, username, password, phone, mail, male, description, avatar,
            birthtime, banning, permission_enum, nickname, last_login, create_date, update_date)
        VALUES (#{id}, #{username}, #{password}, #{phone}, #{mail}, #{male}, #{description},
            #{avatar}, #{birthtime}, #{banning}, #{permissionEnum, jdbcType=INTEGER}, #{nickname},
            #{lastLogin}, #{createDate}, #{updateDate})
        ON DUPLICATE KEY UPDATE
            username = VALUES(username),
            password = VALUES(password),
            phone = VALUES(phone),
            mail = VALUES(mail),
            male = VALUES(male),
            description = VALUES(description),
            avatar = VALUES(avatar),
            birthtime = VALUES(birthtime),
            banning = VALUES(banning),
            permission_enum = VALUES(permission_enum),
            nickname = VALUES(nickname),
            update_date = NOW()
    </insert>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM user
    </select>

    <select id="findByPage" resultMap="UserResultMap">
        SELECT * FROM user ORDER BY create_date DESC LIMIT #{offset}, #{limit}
    </select>

</mapper>